.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F9F9FA;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(63, 62, 62, 0.332);
}

.nav_list {
    display: flex;
    justify-content: space-between;
}

.nav_link {
    position: relative;
    color: #2e363e;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }

    50% {
        transform: translateY(-5px) rotateY(360deg);
    }

    100% {
        transform: none;
    }
}

.nav_notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
    animation: notificationAnimation 2s ease-in-out infinite;
}